.navbar{
    background-image: url('../../assets/img/home-page.png');
    height: 33%;
    width: 100%;
    /*margin-left: 50px;
    margin-right: 166px;*/
    /*margin-left: auto;
    margin-right: auto;*/
    font-size: 20px;

}

.collapse{
    margin-inline-start: 300px;
}

.nav-item a{
    color: #fff;
    position: center;
}

.navbar-brand{
    color: #fff;
}

.title{
    font-size: 40px;
    margin-block-start: 50px;
    text-align: center;
    color: rgb(203, 71, 71)
}

.desc{
    text-align: center;
    color: dimgrey;
}

.btn-sign-up-fb{
    border-radius: 100%;
    border: 1px solid black;
    height: 35px;
    width: 35px;
    margin: 20px;
    padding: 8px
}

.btn-sign-up-google{
    border-radius: 100%;
    border: 1px solid black;
    height: 35px;
    width: 35px;
    padding: 5px;
    margin: 20px;
}


.btn-sign-up-in{
    border-radius: 100%;
    border: 1px solid black;
    height: 35px;
    width: 35px;
    margin: 20px;
}

.card
.form-control{
    border-radius: 0%;
}

.btn-create-account{
    height: 100% !important;
    width: 100%;
    background-color: rgb(158, 105, 103);
    color: #fff;
    border-radius: 0%;
}