<div class="wrapper">
    <div id="sidebar-wrapper-left">
        <div class="sidebar-nav nav-left navbar-inverse">
          <div class="left-sidebar" style="border-bottom: 1px solid grey; margin:20px">
            <img style="height: 30px;" src="../../assets/icon/menu.png">
            Expand menu
          </div>
          <div class="left-sidebar" routerLink="/dashboard/workspace"  [routerLinkActive]="['active-sidebar-element']">
            <img style="height: 40px;" src="../../assets/icon/sidebar-suitcase.png"><br />
            Workspace
          </div>
          <div class="left-sidebar" routerLink="/dashboard/projects"  [routerLinkActive]="['active-sidebar-element']">
            <img style="height: 40px;" src="../../assets/icon/sidebar-projects.png"><br />
            Projects
          </div>
          <div class="left-sidebar">
            <img style="height: 40px;" src="../../assets/icon/sidebar-time-tracking.png"><br />
            Time Tracking
          </div>
          <div class="left-sidebar">
            <img style="height: 40px;" src="../../assets/icon/sidebar-company.png"><br />
            Company
          </div>
          <div class="left-sidebar" style="bottom: 30px;">
            <img style="height: 40px;" src="../../assets/icon/sidebar-membre.png"><br />
            Members
          </div>
        </div>
      </div>
</div>