<div id="wrapper">
    <div id="sidebar-wrapper-right">
        <ul class="sidebar-nav nav navbar-inverse">
            <li>
                <img class="right-sidebar" src="../../assets/icon/sidebar-help.png">
            </li>
            <li>
                <img class="right-sidebar" src="../../assets/icon/sidebar-bell.png">
            </li>
            <li>
                <img class="right-sidebar" src="../../assets/icon/sidebar-search.png">
            </li>
            <li>
                <img class="right-sidebar" src="../../assets/icon/sidebar-chat.png">
            </li>
        </ul>
    </div>
</div>