#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper-right {
    z-index: 1000;
    position: fixed;
    right: 100px;
    width: 0;
    height: 100%;
    margin-right: -200px;
    border-left: 0.5px solid rgb(255, 254, 254, 0.3);
    /*overflow-y: auto;*/
    /*background: #222;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper {
    padding-right: 250px;
}

#sidebar-wrapper-right {
    width: 200px;
}

.right-sidebar {
    height: 50px;
    margin: 30px;
}