<div class="body">
  <nav class="navbar">
    <div class="container-fluid" style="display: inline-flex;">
      <div class="input-group">
        <input class="form-control me-2" type="search" placeholder="Find project, document or more..."
          aria-label="Search">
        <form class="d-flex">
          <span class="avatar">YS</span>
          <select class="form-select" aria-label="Default select example">
            <option selected>Yesmine Sellami</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </form>
      </div>
    </div>
  </nav>