<tabset customClass="navTabs" class="navTabs">
    <tab heading="Quick access">
      <div class="container">
        <div class="row ">
          <div class="col">
            <img class="dashboard-item" src="../../assets/icon/launch-project.png">
            <p>Launch powerful project</p>
            <p style="color: rgb(111, 82, 65);font-size: 15px;">+Project</p>
          </div>
          <div class="col">
            <img class="dashboard-item" src="../../assets/icon/task.png">
            <p>New Task</p>
            <p style="color: rgb(111, 82, 65);font-size: 15px;">+Task</p>
          </div>
        </div>

        <div class="row ">
          <div class="col">
            <img class="dashboard-item" src="../../assets/icon/resources.png">
            <p style="color: rgb(111, 82, 65);font-size: 15px;">+Resource</p>
          </div>
          <div class="col">
            <img class="dashboard-item" src="../../assets/icon/settings.png">
            <p>Settings</p>
            <p style="color: rgb(111, 82, 65);font-size: 15px;">+New setting</p>
          </div>
        </div>
      </div>
    </tab>

    <tab heading="My Workspace">
      <div class="container">
        <div class="row ">
          <div class="col">
            <img class="dashboard-item" src="../../assets/icon/sidebar-projects.png">
            <p style="color: rgb(111, 82, 65);">View projects lists</p>
          </div>
          <div class="col">
            <img class="dashboard-item" src="../../assets/icon/workgroup.png">
            <p style="color: rgb(111, 82, 65);">View workgroup lists</p>
          </div>
        </div>

        <div class="row ">
          <div class="col">
            <img class="dashboard-item" src="../../assets/icon/tasklist.png">
            <p style="color: rgb(111, 82, 65);">View tasks list</p>
          </div>
          <div class="col">
            <img class="dashboard-item" src="../../assets/icon/resources.png">
            <p style="color: rgb(111, 82, 65);">View resources lists</p>
          </div>
        </div>
      </div>
    </tab>
  </tabset>